.RightSide{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.navIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.navIcons>img{
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons>a>img{
    width: 1.5rem;
    height: 1.5rem;
}


.container {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center;     /* Centers children vertically if needed */
    height: 10vh;           /* Example height to center vertically */
  }
  
  .r-button {
    height: 3rem;
    width: 80%;
  }
  


/* .blur {
    filter: blur(5px);
    pointer-events: none; 
}
  .postShareContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  } */
  .invert-color {
    filter: brightness(0) invert(1);
  }